
.player.self {
    font-weight: bold;
}

.player.ready {
    background: #e2f0c4;
}

.player.current:before {
    content: "➜ ";
    line-height: 0;
}

.player.offline {
    color: #adadad;
}

.spectators {
    display: inline-block;
    height: 20px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
}

.teamsLocked .spectators {
    cursor: default;
}

.spectators .player {
    display: inline-block;
    margin: 0 4px;
}

.spectators-section {
    display: none;
    text-align: center;
}

.spectators-section.active {
    display: block;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgb(255, 252, 245);
    user-select: none;
    cursor: default;
    text-align: right;
}

.host-controls-menu > div > div {
    padding: 3px 2px;
    cursor: pointer;
}

.host-controls-menu > div > div:hover {
    background: #f4e2e0;
}

.host-controls-menu {
    display: none;
}

.host-controls:hover .host-controls-menu {
    display: block;
}

.settings-button {
    float: right;
}

.word-red .word-box {
    background: #ff6450;
    color: #8a1000;
    box-shadow: 0 0 0 20px rgba(255, 100, 80, 0);
}

.word-red .word-box.highlight-anim {
    box-shadow: 0 0 0 0 #ff6450;
}

.isMaster .word-red.word-guessed .word-box {
    color: #ec4732;
}

.word-blu .word-box {
    background: #50bbff;
    color: #00548a;
    box-shadow: 0 0 0 20px rgba(80, 187, 255, 0);
}

.word-blu .word-box.highlight-anim {
    box-shadow: 0 0 0 0 #50bbff;
}

.isMaster .word-blu.word-guessed .word-box {
    color: #159ff4;
}

.word-white .word-box {
    color: #d8cfad;
    background: #fffcf5;
}

.word-black .word-box {
    background: #444;
    color: #aaa;
    box-shadow: 0 0 0 20px rgba(68, 68, 68, 0);
}

.word-black .word-box.highlight-anim {
    box-shadow: 0 0 0 0 #444;
}

.isMaster .word-guessed {
    opacity: 0.2;
}

.words {
    display: flex;
    flex: 5 1 0;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 910px;
}

.word {
    flex: 1 0 20%;
    display: flex;
    min-width: 20%;
    min-height: 20%;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 3.3vmin;
    align-self: stretch;
    padding: 12px;
}

.word-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: default;
    background: #fafafa;
    color: #444;
    box-shadow: 0 0 0 20px rgba(255, 252, 245, 0);
    transition: box-shadow 0.5s ease-out;
}

.word-box.highlight-anim {
    box-shadow: 0 0 0 0 rgb(255, 252, 245);
    transition: none;
}

.isMaster .word-box {
    cursor: pointer;
}

.isMaster .word-guessed .word-box {
    cursor: default;
}

.word-box span {
    flex: 1 0 0;
    user-select: none;
    line-height: normal;
}

.main-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 600px;
}

.game-board {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;
}

.add-command {
    font-size: 42px;
    font-weight: bold;
    color: #50bbff;
    cursor: pointer;
    margin-bottom: -10px;
}

.commands-title {
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.cards-count {
    position: absolute;
    font-size: 215px;
    font-family: 'Roboto Condensed', sans-serif;
    bottom: 14%;
    opacity: 0.2;
    color: #50bbff;
    user-select: none;
}

.team.red {
    border-left: #ff6450 2px solid;
    background: rgba(255, 100, 80, 0.08);
}

.team.red .add-command {
    color: #ff6450;
    text-align: right;
}

.team.red .cards-count {
    color: #ff6450;
}

.team.blu {
    border-right: #50bbff 2px solid;
    background: rgba(80, 187, 255, 0.1);
    order: 3;
}

.team.blu .add-command {
    color: #50bbff;
}

.team.blu .cards-count {
    color: #50bbff;
}

.team {
    width: 138px;
    box-sizing: border-box;
    padding: 9px;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
}

.master {
    border-bottom: 1px solid;
    margin-bottom: 7px;
    padding-bottom: 6px;
    z-index: 1;
}

.join-placeholder {
    border-bottom: 1px dotted;
    display: inline-block;
    cursor: pointer;
}

.player-container {
    flex-grow: 1;
    z-index: 1;
}

.player-container > div {
    margin-bottom: 5px;
}

body {
    margin: 0;
    background: linear-gradient(to right, rgb(244, 236, 236) 0%, #e9ecff 100%);
}

@media (min-width: 768px) and (max-width: 959px) {
    .word {
        padding: 6px;
    }

    .team {
        padding: 3px;
    }
}

@media (max-width: 767px) {
    .word {
        padding: 2px;
    }

    .team {
        flex-grow: 1;
        min-height: 200px;
        order: 0 !important;
    }

    .words {
        flex: auto;
    }

    .game-board {
        justify-content: flex-start;
    }

    .main-row {
        max-height: 520px;
        flex-flow: wrap;
    }

    .cards-count {
        top: -42px;
        right: 5px;
    }

    .spectators-section {
        position: absolute;
        bottom: 0;
    }
}